<div class="container-box">
	<div class="d-flex justify-content-center card">
		<div class="text-center mt-4">
			<h2>Registrarse</h2>
		</div>
		<form [formGroup]="signUpForm" class="pt-3 px-5 pb-5">
			<div>
				<label class="d-block">Email</label>
				<mat-form-field class="w-100">
					<input
						matInput
						[type]="'email'"
						autocomplete="off"
						formControlName="email"
						placeholder="Ingresa tu Email"
					/>
					<mat-error *ngIf="email?.hasError('required')">
						<mat-icon>warning</mat-icon> Requerido
					</mat-error>
					<mat-error *ngIf="email?.hasError('pattern')">
						<mat-icon>warning</mat-icon> Debe ser un email válido
					</mat-error>
				</mat-form-field>
			</div>
			<div>
				<label class="d-block">Contraseña</label>
				<mat-form-field class="w-100">
					<input
						matInput
						[type]="'text'"
						autocomplete="off"
						formControlName="password"
						placeholder="Ingresa tu contraseña"
					/>
					<mat-error *ngIf="password?.hasError('required')">
						<mat-icon>warning</mat-icon> Requerido
					</mat-error>
					<mat-error *ngIf="password?.hasError('minlength')">
						<mat-icon>warning</mat-icon> La contraseña debe tener al menos 8 carácteres
					</mat-error>
				</mat-form-field>
			</div>
			<div>
				<label class="d-block">País</label>
				<mat-form-field class="w-100">
					<mat-select formControlName="country" placeholder="Selecciona tu país">
						<div *ngFor="let country of countries">
                            <span class="flag-icon flag-icon-ru"></span>
							<mat-option value="country">
								{{ country }}
							</mat-option>
						</div>
					</mat-select>
					<mat-error *ngIf="country?.hasError('required')">
						<mat-icon>warning</mat-icon> Requerido
					</mat-error>
				</mat-form-field>
			</div>

			<div class="mt-4">
				<button class="main-button w-100 p-3" (click)="submit()">Regístrate</button>
			</div>

			<div class="text-center mt-3">
				<p class="terms-cond-text">Al continuar, aceptas nuestros <a href="terms&conditions">términos y condiciones</a> y a nuestra <a href="privacy-politicies">política de privacidad</a>.</p>
				<p class="login-text">¿Ya tienes una cuenta? <a href="sign-in">Inicia sesión</a></p>
			</div>
		</form>
	</div>
</div>
