    <div class="chat-header">
        <div>
            <img *ngIf="conversation?.creatorUser" class="picture" src="../../../../../assets/images/profile/default-picture-creator.svg" />
            <img *ngIf="conversation?.advertiserUser" class="picture" src="../../../../../assets/images/profile/default-picture-advertiser.svg" />
            <span class="username">{{ conversation?.creatorUser ? conversation?.creatorUser?.profile?.username : conversation?.advertiserUser?.profile?.username }}</span>
        </div>
    
        <button *ngIf="messages && messages.length > 1 && conversation?.status != CONVERSATION_STATUS.FINISHED && conversation?.creatorUser" class="main-button-secondary" (click)="rejectConversation(undefined)">
            {{ 'chat.messages.btn_finish' | translate }} 
            <mat-icon class="material-icons-outlined">chat_close</mat-icon>
        </button>
    </div>
    <div #messagesContainer class="messages-box">
        <div *ngFor="let message of messages; let i = index" class="bubble" [ngClass]="{'bubble-received': message.isReceived, 'bubble-sended': !message.isReceived}">
            <div *ngIf="message.type != MESSAGE_TYPE.FINISHER" >
                <span *ngFor="let msg of message.content.split(enterRegex)">{{ msg }} <br></span>
            </div>
            <div *ngIf="message.type == MESSAGE_TYPE.FINISHER" >
                <span>{{ (conversation?.creatorUser ? 'chat.messages.finisher_message_advertiser' : 'chat.messages.finisher_message_creator') | translate }} <br></span>
            </div>
            <div *ngIf="message.type == MESSAGE_TYPE.INITIALIZER && conversation?.status == CONVERSATION_STATUS.INIT_APPROVAL_PENDING && message.isReceived" class="mt-3">
                <button class="main-button" (click)="initConversation(message)">{{ 'chat.messages.btn_init' | translate }}</button>
                <button class="other-button" (click)="rejectConversation(message)">{{ 'chat.messages.btn_reject' | translate }}</button>
            </div>
            <div *ngIf="message.type == MESSAGE_TYPE.FINISHER && conversation?.status == CONVERSATION_STATUS.FINISH_APPROVAL_PENDING && message.isReceived && i + 1 == messages?.length" class="mt-3">
                <button class="main-button" (click)="confirmFinishConversation(undefined)">{{ 'general.btn_accept' | translate }}</button>
                <button class="other-button" (click)="cancelFinishConversation()">{{ 'chat.messages.btn_reject' | translate }}</button>
            </div>
            <div *ngIf="(message.type == MESSAGE_TYPE.INITIALIZER && conversation?.status == CONVERSATION_STATUS.INIT_APPROVAL_PENDING && !message.isReceived) ||
                    (message.type == MESSAGE_TYPE.FINISHER && conversation?.status == CONVERSATION_STATUS.FINISH_APPROVAL_PENDING && !message.isReceived && i + 1 == messages?.length)" class="mt-1">
                <span class="info-message">{{ 'chat.messages.pending' | translate }} <mat-icon>info_outline</mat-icon></span>
            </div>
            <div *ngIf="message.type == MESSAGE_TYPE.FINISHER && (conversation?.status == CONVERSATION_STATUS.ACTIVE || 
                    (conversation?.status == CONVERSATION_STATUS.FINISH_APPROVAL_PENDING || conversation?.status == CONVERSATION_STATUS.FINISHED) && i + 1 != messages?.length)" class="mt-1">
                <span class="info-message">{{ 'chat.messages.not_finished' | translate }} <mat-icon>info_outline</mat-icon></span>
            </div>
            <div *ngIf="message.type == MESSAGE_TYPE.FINISHER && conversation?.status == CONVERSATION_STATUS.FINISHED && i + 1 == messages?.length" class="mt-1">
                <span class="info-message">{{ 'chat.messages.finished' | translate }} <mat-icon>info_outline</mat-icon></span>
            </div>
        </div>
    </div>
    <div class="write-box">
        <div class="d-flex">
            <textarea #textInput class="input-message" 
                [(ngModel)]="inputValue"
                (keydown)="onKeyDown($event)"
                (keyup)="onKeyUp($event)"
                [placeholder]="'chat.messages.input_placeholder' | translate"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="3"
                [disabled]="!enabledChat">
            </textarea>
            <button class="main-button-secondary button-send"
                [disabled]="!enabledChat"
                (click)="sendMessage()">
                    {{ isHandset ? '' : ('chat.messages.btn_send' | translate) }}
                    <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>