<div class="card">
    <div class="top p-3">
        <div class="d-flex justify-content-center">
            <img *ngIf="isCreatorUser" src="../../../../../assets/images/profile/default-picture-creator.svg" class="profile-picture" />
            <img *ngIf="!isCreatorUser" src="../../../../../assets/images/profile/default-picture-advertiser.svg" class="profile-picture" />
        </div>

        <div class="primary-info" [ngClass]="{ 'creator': isCreatorUser }">
            <div class="username">
                <span>{{ userData?.username }}</span>
            </div>
            <div class="country">
                <span>{{ 'general.countries.' + userData?.country | translate }}</span>
            </div>
            <div *ngIf="isCreatorUser" class="content-tags">
                <mat-chip *ngFor="let tag of userData?.contentTags" class="tag">
                    {{ 'onboarding.content.tag_list.' + tag | translate }}
                </mat-chip>
            </div>
            <div *ngIf="!isCreatorUser" class="networks-box">
                <!-- <mat-chip [matMenuTriggerFor]="menu" aria-label="Social networks">{{ 'profile.networks_label' | translate }} <mat-icon [ngStyle]="{'font-size': '24px'}">expand_more</mat-icon></mat-chip> -->
                <button class="networks-button main-button-secondary" [matMenuTriggerFor]="menu" aria-label="Social networks">{{ 'profile.networks_label' | translate }} <mat-icon [ngStyle]="{'font-size': '24px'}">expand_more</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let network of socialNetworks" (click)="openSocialMediaLink(network.link)">
                        <div class="d-flex">
                            <app-svg-icon class="{{ network.icon }}" [path]="'assets/icons/' + network.icon + '.svg'"></app-svg-icon>
                            <span>{{ network.name }}</span>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div *ngIf="isOwnView" class="position-relative flex-grow-1">
            <button class="button-outlined btn-action" (click)="editProfile()">
                {{ 'profile.btn_edit' | translate }} 
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div *ngIf="!isOwnView" class="position-relative flex-grow-1">
            <button class="button-outlined btn-action" (click)="initTalk()">
                {{ 'profile.btn_talk' | translate }}
                <mat-icon>mail</mat-icon>
            </button>
        </div>
    </div>

    <div class="d-grid description-box">
        <span class="text-title-16">{{ (isCreatorUser ? 'profile.about_me' : 'profile.about_us') | translate }}</span>
        <span class="text-14">{{ userData?.description }}</span>
    </div>
</div>