.card {
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}

.profile-picture {
    border-radius: 8px;
    height: 150px;
    width: 150px;
    background-color: white;
}

.top {
    background-color: #222;
    display: flex;
}

.primary-info {
    position: relative;
    padding-left: 10px;
}

.primary-info.creator {
    margin-top: auto;
    margin-bottom: auto;
}

.username {
    font-size: 32px;
    font-weight: bold;
    color: white;
    line-height: 0.7;
}

.country {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 0px;
}

.tag {
    background-color: var(--primary-color) !important;
    --mdc-chip-label-text-color: white !important;
    margin-right: 6px;
    font-size: 16px;
}

.main-button-secondary {
    position: absolute;
    right: 0;
    bottom: 0;
}

.mat-icon {
    font-size: 20px;
}

.networks-button {
    position: absolute;
    bottom: 0;
}

.description-box {
    padding: 1rem;
}

@media (max-width: 768px) {

    .top {
        display: block;
    }

    .profile-picture {
        height: auto;
        width: 100%;
        background-color: white;
    }

    .primary-info {
        text-align: center;
        margin-top: 16px;
    }

    .primary-info.creator {
        margin-top: 16px;
    }

    .content-tags {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .tag {
        margin-bottom: 5px;
    }

    .networks-button {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }

    .main-button-secondary {
        position: inherit;
        width: 100%;
    }
}