<div class="container">
    <h1 class="font-weight-bold">{{ 'landing.terms_of_service.title_1' | translate }}<span class="gradient-color-1">{{ 'landing.terms_of_service.title_2' | translate }}</span></h1>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_1' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_2' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_3' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_4' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_5' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_6' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_7' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_8' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_9' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_10' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_11' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_12' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_13' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.terms_of_service.paragraph_14' | translate }}</span>
    </div>
</div>