.container-box {
    align-items: flex-start;
}

.profile-delimiter {
    min-width: 750px;
    max-width: 750px;
    margin-top: 7rem;
}

.card {
    padding: 12px;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}

.tags {
    margin-top: 3rem;
}

.tag {
    background-color: var(--primary-color) !important;
    --mdc-chip-label-text-color: white !important;
    margin-right: 6px;
    font-size: 16px;
}

@media (max-width: 768px) {

    .profile-delimiter {
        min-width: auto;
        width: 90%;
    }
}