<div class="container-box">
    <div class="profile-delimiter">
        <app-user-data [userData]="userData" [isOwnView]="isOwnView"/>
        <app-network-basic-info *ngIf="isCreatorUser" [userData]="userData" />
        <app-advanced-analytics *ngIf="!isOwnView && isCreatorUser"/>
        <div *ngIf="!isCreatorUser" class="card tags">
            <span style="font-weight: 500;">{{ 'profile.content_advertiser_label' | translate }}</span>
            <div class="d-flex justify-content-right">
                <mat-chip *ngFor="let tag of userData?.user?.contentTags" class="tag">
                    {{ 'onboarding.content.tag_list.' + tag | translate }}
                </mat-chip>
            </div>
        </div>
        <app-score />
    </div>
</div>
