h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.primary-color {
    color: var(--primary-color);
}

.home-image {
    font-size: 30rem;
}

button {
    width: 11rem;
    height: 3rem;
}

.main-button-primary {
    margin-right: 2rem;
}

.paragraph {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.box {
    width: 630px;
}

@media (max-width: 768px) {
    .home-image {
        display: none;
    }

    button {
        margin-bottom: 1rem;
    }
}