.page {
    height: 100vh;
    margin-top: -3rem;
}

.primary-color {
    color: var(--primary-color);
}

.home-image {
    font-size: 30rem;
}

button {
    min-width: 11rem;
    height: 3rem;
}

.main-button-primary {
    margin-right: 2rem;
}

.box {
    width: 630px;
}

.img-leaf {
    width: 8rem;
    position: absolute;
    z-index: -1;
}

.left {
    left: 0;
    top: 30%
}

.right {
    right: 0;
    top: 20%;
}

@media (max-width: 768px) {
    .home-image {
        display: none;
    }

    button {
        margin-bottom: 1rem;
    }
}