<div class="container-fluid d-flex justify-content-between">
    <div class="d-flex align-items-center w-50">
        <div class="m-auto">
            <h1 class="font-weight-bold"><span class="primary-color">Contenido</span> para cada audiencia</h1>
            <span>Una plataforma donde creadores y anunciantes se encuentran.</span>
            <span>Consigue visivilidad ante miles de anunciantes. Encuentra al creador de contenido indicado utilizando nuestras analíticas avanzadas.</span>
            <div>
                <button>Soy creador</button>
                <button>Busco creadores</button>
            </div>
        </div>
    </div>
    <div class="w-50">
        <img src="../../../assets/images/landing-page-person.svg" />
    </div>
</div>