.container-box {
    align-items: baseline;
}

.onboarding-box {
    position: relative;
    width: 80%;
    max-width: 1000px;
    min-height: 700px;
    margin-top: 8rem;
    border-radius: 1rem;
}

.box-tag {
    position: absolute;
    left: 0;
    transform: translate(0px, -35px);
    height: 3.5rem;
    width: 8rem;
    display: flex;
    // align-items: center;
    padding-top: 0.5rem;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
}

.card {
    border-radius: 1rem;
    border: none;
}

.back-btn {
    width: 100px;
}

.back-btn:hover {
    cursor: pointer;
}

.icon {
    height: 15px;
    width: 15px;
    font-size: 15px;
}

img {
    width: 40%;
    max-height: 540px;
    transform: translate(0px, -40px);
    margin-right: 3rem;
}