<div class="container-box">
    <div class="onboarding-box">
        <div class="box-tag">
            <span>{{ 'general.' + userType?.toLowerCase()| translate }}</span>
        </div>
        <div class="card">
            <div class="d-flex justify-content-between">
                <div class="back-btn">
                    <div class="d-flex align-items-center p-4" *ngIf="slide != SLIDE.PERSONAL_INFO" (click)="goBack()">
                        <mat-icon class="icon">arrow_back_ios</mat-icon>
                        <span>{{ 'general.btn_back' | translate }}</span>
                    </div>
                </div>
                <app-steps-visualizer />
            </div>

            <div [@personalInfoSlide]="personalInfoSlide" (@personalInfoSlide.start)="animationStarted($event)"
            (@personalInfoSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.PERSONAL_INFO" class="d-flex justify-content-between p-4">
                    <app-personal-information (continue)="submitEvent($event)" />
                    <img src="../../../../assets/images/onboarding-person-1.svg" />
                </div>
            </div>
            <div [@networksSlide]="networksSlide" (@networksSlide.start)="animationStarted($event)"
            (@networksSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.NETWORKS" class="d-flex justify-content-between p-4">
                    <app-networks (continue)="submitEvent($event)" />
                    <img src="../../../../assets/images/onboarding-person-2.svg" />
                </div>
            </div>
            <div [@contentSlide]="contentSlide" (@contentSlide.start)="animationStarted($event)"
            (@contentSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.CONTENT" class="d-flex justify-content-between p-4">
                    <app-content (continue)="submitEvent($event)" />
                    <img src="../../../../assets/images/onboarding-person-2.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
