<div class="container-box">
    <div class="onboarding-box">
        <div class="box-tag" [ngClass]="{'advertiser': !isCreator}">
            <span>{{ 'general.' + userType?.toString()?.toLowerCase()| translate }}</span>
        </div>
        <div class="card">
            <div class="d-flex justify-content-between">
                <div class="back-btn mb-4">
                    <div class="d-flex align-items-center p-4" *ngIf="slide != SLIDE.PERSONAL_INFO" (click)="goBack()">
                        <mat-icon class="icon">arrow_back_ios</mat-icon>
                        <span class="ml-3">{{ 'general.btn_back' | translate }}</span>
                    </div>
                </div>
                <div class="progress-centered w-100">
                    <app-steps-visualizer class="d-flex justify-content-center w-100" />
                </div>
            </div>

            <div [@personalInfoSlide]="personalInfoSlide" (@personalInfoSlide.start)="animationStarted($event)"
            (@personalInfoSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.PERSONAL_INFO" class="d-flex justify-content-between p-4">
                    <app-personal-information [userType]="userType" [data]="data" (continue)="submitEvent($event)" />
                    <img src="../../../../assets/images/onboarding-person-1.svg" />
                </div>
            </div>
            <div [@contentSlide]="contentSlide" (@contentSlide.start)="animationStarted($event)"
            (@contentSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.CONTENT" class="d-flex justify-content-between p-4">
                    <app-content [userType]="userType" [data]="data" (continue)="submitEvent($event)" />
                    <img *ngIf="isCreator" src="../../../../assets/images/onboarding-person-3.svg" />
                    <img *ngIf="!isCreator" src="../../../../assets/images/onboarding-person-4.svg" />
                </div>
            </div>
            <div [@youtubeSlide]="youtubeSlide" (@youtubeSlide.start)="animationStarted($event)"
            (@youtubeSlide.done)="animationDone($event)">
                <div *ngIf="slide === SLIDE.YOUTUBE_INTEGRATION" class="d-flex p-4" [ngClass]="{'justify-content-between': !integrationLoading, 'justify-content-center': integrationLoading}">
                    <app-youtube-integration (continue)="submitEvent($event)" />
                    <img *ngIf="!integrationLoading" src="../../../../assets/images/onboarding-person-3.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
