<div class="container-box">
    <div class="onboarding-box">
        <div class="box-tag">
            <span>{{ 'general.' + userType?.toLowerCase()| translate }}</span>
        </div>
        <div class="card">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center p-4">
                    <mat-icon class="icon">arrow_back_ios</mat-icon>
                    <span>{{ 'general.btn_back' | translate }}</span>
                </div>
                <app-steps-visualizer />
            </div>

            <div class="d-flex justify-content-between p-4">
                <app-personal-information />
                <img src="../../../../assets/images/onboarding-person-1.svg" />
            </div>
        </div>
    </div>
</div>
