<div class="framework">
    <div class="title">
        <span>{{ 'chat.conversation.title' | translate }}</span>
    </div>
    <div>
        <div class="mt-4">
            <span>{{ 'chat.conversation.pending' | translate }}</span>
            <div *ngFor="let conversation of conversations?.pending" class="conversation-btn" (click)="selectConversation(conversation)" [ngClass]="{'selected': conversation.id === selectedConversationId}">
                <img *ngIf="conversation.creatorUser" class="picture" src="../../../../../assets/images/profile/default-picture-creator.svg" />
                <img *ngIf="conversation.advertiserUser" class="picture" src="../../../../../assets/images/profile/default-picture-advertiser.svg" />
                <span>{{ conversation.creatorUser ? conversation.creatorUser.username : conversation.advertiserUser.username }}</span>
            </div>
            <span *ngIf="!conversations?.pending || conversations?.pending?.length == 0"  class="none-talks">{{ 'chat.conversation.none' | translate }}</span>
        </div>
        <div class="mt-4">
            <span>{{ 'chat.conversation.in_progress' | translate }}</span>
            <div *ngFor="let conversation of conversations?.inProgress" class="conversation-btn" (click)="selectConversation(conversation)" [ngClass]="{'selected': conversation.id === selectedConversationId}">
                <img *ngIf="conversation.creatorUser" class="picture" src="../../../../../assets/images/profile/default-picture-creator.svg" />
                <img *ngIf="conversation.advertiserUser" class="picture" src="../../../../../assets/images/profile/default-picture-advertiser.svg" />
                <span>{{ conversation.creatorUser ? conversation.creatorUser.username : conversation.advertiserUser.username }}</span>
            </div>
            <span *ngIf="!conversations?.inProgress || conversations?.inProgress?.length == 0" class="none-talks">{{ 'chat.conversation.none' | translate }}</span>
        </div>
        <div class="mt-4">
            <span>{{ 'chat.conversation.finished' | translate }}</span>
            <div *ngFor="let conversation of conversations?.finished" class="conversation-btn" (click)="selectConversation(conversation)" [ngClass]="{'selected': conversation.id === selectedConversationId}">
                <img *ngIf="conversation.creatorUser" class="picture" src="../../../../../assets/images/profile/default-picture-creator.svg" />
                <img *ngIf="conversation.advertiserUser" class="picture" src="../../../../../assets/images/profile/default-picture-advertiser.svg" />
                <span>{{ conversation.creatorUser ? conversation.creatorUser.username : conversation.advertiserUser.username }}</span>
            </div>
            <span *ngIf="!conversations?.finished || conversations?.finished?.length == 0" class="none-talks">{{ 'chat.conversation.none' | translate }}</span>
        </div>
    </div>
</div>