<div class="networks-box">
    <app-network-selector [integratedNetworks]="userData?.integratedNetworks" (changeSelected)="changeSelectedNetwork($event)"/>
    <div class="card">
        <div class="d-flex justify-content-start">
            <div class="accounts-button" *ngFor="let channel of selectedNetwork?.channels">
                <button class="main-button px-3"  [ngClass]="{ 'selected': channel == selectedChannel }" (click)="selectChannel(channel)">{{ channel.name }}</button>
            </div>
        </div>
        <div class="d-flex justify-content-between w-100">
            <div class="data-box">
                <div class="data-text">
                    <span class="d-block data-number">{{ data.subs }}</span>
                    <span class="data-label">{{ 'profile.networks.subscribers' | translate }}</span>
                </div>
            </div>
            <div class="data-box">
                <div class="data-text">
                    <span class="d-block data-number">{{ data.videos }}</span>
                    <span class="data-label">{{ 'profile.networks.videos' | translate }}</span>
                </div>
            </div>
            <div class="data-box">
                <div class="data-text">
                    <span class="d-block data-number">{{ data.visits }}</span>
                    <span class="data-label">{{ 'profile.networks.avg_visits' | translate }}</span>
                </div>
            </div>
            <!-- <div class="data-box">
                <div class="data-text">
                    <span class="d-block data-number">{{ data.likes }}</span>
                    <span class="data-label">{{ 'profile.networks.avg_likes' | translate }}</span>
                </div>
            </div> -->
        </div>
    </div>
</div>