.networks-box {
    position: relative;
}

.card {
    margin-top: 5rem;
    padding: 16px;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}

.accounts-button {
    margin: 10px 5px;
}

.main-button.non-selected {
    background-color: rgba(0, 0, 0, 0.6);
}

.networks-button-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data-box {
    height: 5rem;
    width: 100%;
    background-color: #EAEDF2;
    margin: 0 5px;
    border: 1px solid #CBD2E0;
    border-radius: 8px;
    text-align: center;
    display: table;
}

.data-text {
    display: table-cell;
    vertical-align: middle;
}

.data-number {
    font-size: 24px;
    font-weight: 600;
}

.data-label {
    font-size: 16px;
    font-weight: 500;
    color: #808080;
}