<div class="networks-box">
    <app-network-selector [networks]="networksTransformed" (changeSelected)="changeSelectedNetwork($event)"/>
    <div class="card">
        <div class="channel-box" *ngFor="let network of selectedNetwork?.networks; let i = index">
            <div class="d-flex">
                <img *ngIf="network.profileImg && network.profileImg != 'default'" [src]="network.profileImg" class="picture" />
                <app-svg-icon *ngIf="!network.profileImg || network.profileImg === 'default'" [class]="selectedNetwork?.platform?.toLowerCase()" [path]="'assets/icons/' + selectedNetwork?.platform?.toLowerCase() + '.svg'" />
                <div class="channel-name">
                    <span (click)="openNetworkPage(network)">{{ network.name }}</span>
                </div>
                <!-- <app-svg-icon *ngIf="channel.verified" class="verified" [path]="'assets/icons/verified.svg'" /> -->
            </div>
            <div *ngIf="network.integrated && selectedNetwork?.platform?.toLowerCase() == 'youtube'" class="data-container">
                <div class="data-box">
                    <div class="data">
                        <span>{{ data[i].totalSubs }}</span>
                    </div>
                    <div class="label">
                        <span>{{ 'profile.networks.subscribers' | translate }}</span>
                    </div>
                </div>
                <div class="data-box">
                    <div class="data">
                        <span>{{ data[i].totalVideos }}</span>
                    </div>
                    <div class="label">
                        <span>{{ 'profile.networks.videos' | translate }}</span>
                    </div>
                </div>
                <!-- <div class="data-box">
                    <div class="data">
                        <span>{{ data[i].totalViews }}</span>
                    </div>
                    <div class="label">
                        <span>{{ 'profile.networks.avg_visits' | translate }}</span>
                    </div>
                </div> -->
            </div>
            <div *ngIf="!network.integrated && selectedNetwork?.platform?.toLowerCase() == 'youtube'" class="data-container">
                <div class="label no-sync-desc">
                    <span>{{ 'profile.networks.not_sync' | translate }}</span>
                </div>
                <button *ngIf="isOwnView" class="main-button-primary">{{ 'profile.networks.btn_sync' | translate }}</button>
            </div>
        </div>
    </div>
</div>