<div class="container-tags">
    <div class="box-tag" *ngFor="let network of integratedNetworks; let i = index" (click)="changeNetwork(network, i)" [ngClass]="{ 'non-selected': i != selectedIndex }">
        <div class="d-flex">
            <app-svg-icon [class]="network.network.toLowerCase()" [path]="'assets/icons/' + network.network.toLocaleLowerCase() + '.svg'"></app-svg-icon>
        </div>
        <span *ngIf="i == selectedIndex">{{ 'general.networks.' + network.network | translate }}</span>
    </div>
    <div class="box-tag add-tag" [matTooltip]="'general.comming_soon' | translate" matTooltipPosition="right">
        <mat-icon>add</mat-icon>
    </div>
</div>