.framework {
    width: 20rem;
    padding: 0 2rem;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

span {
    font-size: 16px;
    font-weight: 600;
}

.tune-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin: auto 5px;
}

.mat-mdc-standard-chip {
    background-color: #EAEDF2 !important;
    --mdc-chip-label-text-color: black;
}

.mat-mdc-standard-chip.tag-added {
    background-color: var(--primary-color) !important;
    --mdc-chip-label-text-color: #fff;
}

input {
    background-color: transparent;
    border: 1px solid #CBD2E0;
    border-radius: 5px;
    width: 45%;
    color: black;
}

.input-tag {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirm-button {
    width: 100%;
}

.close-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.reset-tag-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.reset-tag-button:hover {
    font-weight: 600;
    text-decoration: underline;
}