<div class="framework">
    <div class="title">
        <mat-icon class="material-icons-outlined tune-icon">tune</mat-icon>
        <span>{{ 'discovery.filters' | translate }}</span>
    </div>
    <div class="mt-4">
        <span>{{ 'discovery.content_type' | translate }}</span>
        <mat-chip-listbox aria-label="Discovery Tags Filtered"  class="mt-3">
            <mat-chip *ngFor="let tag of filters.tags" (click)="manageTagFilter(tag)" class="tag-added">
                {{ 'onboarding.content.tag_list.' + tag | translate }}
                <mat-icon class="material-icons-outlined close-icon">close</mat-icon>
            </mat-chip>
        </mat-chip-listbox>
        <mat-chip *ngIf="filters.minFollowers || filters.maxFollowers" (click)="removeFollowersFilter()" class="tag-added">
            <span *ngIf="filters.minFollowers && filters.maxFollowers" class="chip-followers">{{ 'discovery.followers_filter.between' | translate: { minFollowers: filters.minFollowers, maxFollowers: filters.maxFollowers } }}</span>
            <span *ngIf="filters.minFollowers && !filters.maxFollowers" class="chip-followers">{{ 'discovery.followers_filter.more_than' | translate: { minFollowers: filters.minFollowers } }}</span>
            <span *ngIf="!filters.minFollowers && filters.maxFollowers" class="chip-followers">{{ 'discovery.followers_filter.less_than' | translate: { maxFollowers: filters.maxFollowers } }}</span>
            <mat-icon class="material-icons-outlined close-icon">close</mat-icon>
        </mat-chip>
        <div class="d-flex justify-content-center">
            <button *ngIf="filters.tags.length > 0" class="reset-tag-button" (click)="resetTagFilter()">{{ 'discovery.btn_reset_tag_filter' | translate}}</button>
        </div>
        <input  class="input-tag mt-3"
                matInput
                type="text"
                [(ngModel)]="tagFilterInput"
                [placeholder]="'general.search' | translate"
                (input)="filterTags()"
        />
        <mat-chip-listbox aria-label="Discovery Tags non Filtered"  class="mt-3">
            <mat-chip *ngFor="let tag of filteredTags" (click)="manageTagFilter(tag)" [ngStyle]="{'display': filters.tags.includes(tag) && !tagFilterInput ? 'none' : 'initial'}"
            [ngClass]="{'tag-added': filters.tags.includes(tag)}">
                {{ 'onboarding.content.tag_list.' + tag | translate }}
                <mat-icon *ngIf="filters.tags.includes(tag)" class="material-icons-outlined close-icon">close</mat-icon>
            </mat-chip>
        </mat-chip-listbox>
    </div>
    <div class="mt-4">
        <span class="d-block">{{ 'discovery.followers' | translate }}</span>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <input 
                matInput
                type="number"
                [(ngModel)]="minFollowersInput"
                [placeholder]="'discovery.min_followers' | translate"
            />
            <input
                matInput
                type="number"
                [(ngModel)]="maxFollowersInput"
                [placeholder]="'discovery.max_followers' | translate"
            />
        </div>
    </div>
    <button class="main-button-primary confirm-button mt-4" (click)="applyFilters()">
        {{ 'discovery.btn_apply_filters' | translate }}
    </button>
</div>