.container-chat {
    margin-top: -3rem;
    min-height: 100vh;
    display: flex;
}

.chat-box {
    height: 100vh;
    width: 100%;
    background-color: #EAEDF2;
}

app-chat-messages {
    display: flex;
    flex-flow: column;
    height: 100%;
}