.main-button {
    display: flex;
    justify-content: center;
    background-color: #EA2A2A;
    min-width: 300px;
}

app-svg-icon {
    height: 24px;
    width: 24px;
    background-color: white;
    margin-right: 5px;
}

img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.icon {
    font-size: 80px;
    height: 80px;
    width: 80px;
}

.main-button.retry {
    background-color: var(--secondary-color);
}