.picture-container {
    position: relative;
}

.profile-picture {
    border: 1px solid gray;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    background-color: white;
}

.edit-icon {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.0);
    text-align: center;
    align-content: center;
    font-size: 40px;
    border-radius: 8px;
}

.edit-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.cancel {
    background-color: white;
    border: 1px solid black;
    color: black;
}

@media (max-width: 512px) {
    mat-dialog-content {
        padding: 0 0 !important;
    }
}

@media (max-width: 768px) {

    .edit-icon {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .label-max-char {
        display: none;
    }
}