.header {
    position: relative;
    background-color: black;
    height: 3rem;
    width: 100%;
}

img {
    margin: auto 1.3rem;
}

img:hover {
    cursor: pointer;
}

.icon-container {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    color: white;
    font-size: 2rem;
}

.header-button-container {
    display: flex;
    height: -webkit-fill-available;
}

.header-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.main-button-primary {
    margin: 5px 1.3rem;
				border-radius: 0.5rem;
}
