<div class="header d-flex justify-content-between" [ngStyle]="{'background-color': isLanding ? 'white' : 'black'}">
    <img
        [src]="isLanding ? '../../../assets/logo/influenly-logo-word.svg' : '../../../assets/logo/influenly.svg'" 
        [ngStyle]="{'height': isLanding ? '1.5rem' : '1.3rem'}" 
        (click)="goToMain()"
    />
    <div class="d-flex">
        <app-discovery-button *ngIf="userType == 'ADVERTISER'" [isHandset]="isHandset" />
        <app-chat [isHandset]="isHandset" />
        <app-user-options />
        <button *ngIf="isLanding" mat-button class="main-button-primary" (click)="goToLogin()">{{ 'landing.sign_in.title' | translate}}</button>
    </div>
</div>