<div class="d-flex justify-content-center p-3 w-75">
    <div class="step p-2">
        <span>{{ 'onboarding.steps.personal_information' | translate }}</span>
        <div class="indicator" [ngClass]="{ 'non-check': !firstStepCompleted, 'check': firstStepCompleted }"></div>
    </div>
    <div class="step p-2">
        <span>{{ 'onboarding.steps.content' | translate }}</span>
        <div class="indicator" [ngClass]="{ 'non-check': !secondStepCompleted, 'check': secondStepCompleted }"></div>
    </div>
</div>