.indicator {
    width: 100%;
    height: 0.5rem;
    border-radius: 3px;
}

.non-check {
    background-color: #e6e6e6;
}

.check {
    background-color: var(--primary-color);
}

span {
    font-size: 12px;
}

.step {
    width: 30%
}