<div class="signIn__container">
	<div class="form__card">
		<form [formGroup]="signInForm" class="form__form">
			<div class="form__container">
				<h2 class="form__title">{{ "landing.sign_in.title" | translate }}</h2>
				<div>
					<label class="d-block">{{
						"landing.sign_up.email.label" | translate
					}}</label>
					<div class="input-wrapper w-100">
						<input
							type="email"
							autocomplete="off"
							formControlName="email"
							[placeholder]="'landing.sign_up.email.placeholder' | translate"
							class="form__input"
						/>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && email?.hasError('required')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.email.required_error" | translate }}
						</div>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && email?.hasError('pattern')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.email.pattern_error" | translate }}
						</div>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && email?.hasError('invalid')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.email.invalid_error" | translate }}
						</div>
					</div>
				</div>
				<div>
					<label class="d-block">{{
						"landing.sign_up.password.label" | translate
					}}</label>
					<div class="input-wrapper w-100">
						<input
							type="password"
							autocomplete="off"
							formControlName="password"
							[placeholder]="'landing.sign_up.password.placeholder' | translate"
							class="form__input"
						/>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && password?.hasError('required')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.password.required_error" | translate }}
						</div>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && password?.hasError('minlength')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.password.minlength_error" | translate }}
						</div>
						<div
							[ngClass]="{
								'error-message': true,
								'active': submitted && password?.hasError('invalid')
							}"
						>
							<mat-icon>warning</mat-icon
							>{{ "landing.sign_up.password.invalid_error" | translate }}
						</div>
					</div>
				</div>
			</div>

			<button class="form__button w-100" (click)="submit()">
				{{ "landing.sign_in.btn_signin" | translate }}
			</button>

			<div class="text-center">
				<p class="login-text">
					{{ "landing.sign_in.not_registered" | translate
					}}<a href="">{{ "landing.sign_up.btn_signup" | translate }}</a>
				</p>
			</div>
		</form>
	</div>
	<div class="image__container">
		<img src="../../../assets/images/sign-in-person-1.svg" alt="sign-in" class="image__signIn"  />
	</div>
</div>
