.card {
    width: 540px;
    border-radius: 2rem;
    border: none;
}

h2 {
    font-weight: bold;
}

.login-text {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

a:link {
    color: black;
    background-color: transparent;
}