.discovery-box-top {
    margin-top: 3rem;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.lbl-order-by {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-align: end;
    padding-right: 12px;
}

.btn-order-by {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

.cards-box {
    display: flex;
    justify-content: center;
}

.cards-container {
    display: grid;
    grid-template-columns: 256px 256px;
    gap: 20px;
}

.results-container {
    padding: 0 2rem;
}

.btn-filter {
    width: 100%;
}

@media (max-width: 550px) {
    .cards-box {
        margin-top: 16px;
        display: block;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1fr;
    }

    .card {
        max-width: 164px;
        height: 245px;
        border-radius: 16px;
    }

    .profile-picture {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 164px;
        width: 164px;
    }

    .btn-order-by {
        font-size: 0.8rem;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    .box-order-by {
        display: block;
        justify-content: end;
    }

    .lbl-order-by {
        float: right;
        padding-right: 5px;
    }

    .btn-order-by {
        min-width: 0px;
        float: right;
        padding: 0px;
    }

    .results-container {
        padding: 0 1rem;
    }

    .cards-container {
        grid-template-columns: 256px 256px;
    }
}

@media  (min-width: 769px) and (max-width: 920px) {
    .cards-container {
        grid-template-columns: 256px;
    }
}

@media (min-width: 920px) and (max-width: 1250px) {
    .cards-container {
        grid-template-columns: 256px 256px;
    }
}

@media (min-width: 1251px) and (max-width: 1500px) {
    .cards-container {
        grid-template-columns: 256px 256px 256px;
    }
}

@media (min-width: 1501px) {
    .cards-container {
        grid-template-columns: 256px 256px 256px 256px;
    }
}