.discovery-box-top {
    margin-top: 3rem;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.lbl-order-by {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.box-order-by {
    display: flex;
    justify-content: space-between;
}

.btn-order-by {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    min-width: 250px;
}

.cards-container {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
}

.results-container {
    padding: 0 2rem;
}

.box-cards {
    padding: 0 -0.5rem;
}

@media (max-width: 768px) {
    .box-order-by {
        display: block;
        justify-content: end;
    }

    .lbl-order-by {
        float: right;
        padding-right: 5px;
    }

    .btn-order-by {
        min-width: 0px;
        float: right;
        padding: 0px;
    }

    .results-container {
        padding: 0 1rem;
    }
}