<div class="container full-height-with-header">
    <h1 class="font-weight-bold">{{ 'landing.how_it_works.title_1' | translate }}<span class="gradient-color-1">{{ 'landing.how_it_works.title_2' | translate }}</span></h1>
    <h2 class="subtitle primary-color">{{ 'landing.how_it_works.subtitle_creator' | translate }}</h2>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.creator_paragraph_1' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.creator_paragraph_2' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.creator_paragraph_3' | translate }}</span>
    </div>
    <h2 class="subtitle gradient-color-1">{{ 'landing.how_it_works.subtitle_advertiser' | translate }}</h2>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.advertiser_paragraph_1' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.advertiser_paragraph_2' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.how_it_works.advertiser_paragraph_3' | translate }}</span>
    </div>
</div>