<div class="score-box">
    <div class="box-tag">
        <span>{{ 'profile.score.title' | translate }}</span>
        <mat-icon>star</mat-icon>
    </div>
    <div class="card">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-center align-items-center data-box">
                <div class="px-3">
                    <span class="message">{{ 'profile.score.no_score_yet' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>