<div class="container full-height-with-header">
    <h1 class="font-weight-bold">
        {{ 'landing.about_us.title_1' | translate }}
        <span class="primary-color">{{ 'landing.about_us.title_2' | translate }}</span>
        <span>{{ 'landing.about_us.title_3' | translate }}</span>
        <span class="gradient-color-1">{{ 'landing.about_us.title_4' | translate }}</span>
        <span>{{ 'landing.about_us.title_5' | translate }}</span>
        <span class="gradient-color-1">{{ 'landing.about_us.title_6' | translate }}</span>
        <span>{{ 'landing.about_us.title_7' | translate }}</span>
    </h1>
    <div class="mt-3 mb-3">
        <span class="paragraph">{{ 'landing.about_us.paragraph_1' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.about_us.paragraph_2' | translate }}</span>
    </div>
</div>