@import url('node_modules/bootstrap/scss/bootstrap.scss');
@import url('@angular/material/prebuilt-themes/indigo-pink.css');

:root {
    --primary-color: #7250F8;
	--secondary-color: black;
    --ternary-color: #FFF;
    --disabled-color: #bfbfbf;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;
}

app-root {
    height: 100vh;
    display: block;
}

mat-icon {
    vertical-align: middle;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.paragraph {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

//background image
.container-box {
    height: 100vh;
    background: url('./assets/images/background-1.svg');
    background-color: #f2f2f2;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}

.main-button {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}

main-button:hover {
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: var(--disabled-color);
}

.main-button-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
}

.main-button-secondary {
    background-color: var(--ternary-color);
    border-radius: 0.5rem;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        top: var(--mouse-y);
        left: var(--mouse-x);
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.3);
        border-radius: 100%;
    }
    //&:focus,
    &:hover {
        background: darken(#DDD,7%);
    }
    &:active {
        &:after {
            width: 300px;
            height: 300px;
        }
    }
}

.mdc-notched-outline {
    color: #ccc;
}

.mat-mdc-form-field-error-wrapper {
    color: #ea2a2a;
    padding: 0 !important;
}

::placeholder {
    color: #ccc;
}

//dialog styling
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 16px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 1rem;
}
//dialog styling

.card {
    box-shadow: 3px 2px 2px #f2f2f2;
}

.text-title-16 {
    font-size: 16px;
    font-weight: 600;
}

.text-14 {
    font-size: 14px;
}