@import url('node_modules/bootstrap/scss/bootstrap.scss');
@import url('@angular/material/prebuilt-themes/indigo-pink.css');

:root {
    --primary-color: #7250F8;
	--secondary-color: black;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;
}

app-root {
    height: 100vh;
    display: block;
}

mat-icon {
    vertical-align: middle;
}

.main-button {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}

.main-button-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
}


.mdc-notched-outline {
    color: #ccc;
}

.mat-mdc-form-field-error-wrapper {
    color: #ea2a2a;
    padding: 0 !important;
}

::placeholder {
    color: #ccc;
}

//dialog styling
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 16px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 1rem;
}
//dialog styling