@import url('node_modules/bootstrap/scss/bootstrap.scss');
@import url('@angular/material/prebuilt-themes/indigo-pink.css');

:root {
    --primary-color: #7250F8;
	--secondary-color: black;
    --ternary-color: #FFF;
    --disabled-color: #bfbfbf;
    --gradient-color-1: #4A1FF6;

    --error-color: #EA2A2A;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;
    letter-spacing: -0.14px;
}

app-root {
    min-height: 100vh;
    display: block;
}

mat-icon {
    vertical-align: middle;
}

mat-error {
    color: var(--error-color) !important;
}

.full-height-with-header {
    min-height: calc(100vh - 3rem);
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.gradient-color-1 {
    color: var(--gradient-color-1);
}

.paragraph {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

//background image
.container-box {
    min-height: 100vh;
    background-color: #f2f2f2;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}

//tag upper card
.box-tag {
    position: absolute;
    left: 0;
    transform: translate(0px, -35px);
    height: 3.5rem;
    width: auto;
    display: flex;
    // align-items: center;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    font-weight: 500;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    border: none;
}

.main-button {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}

.main-button:hover {
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: var(--disabled-color);
}

.main-button-primary {
    background-color: var(--primary-color) !important;
    border-radius: 8px !important;
    border: none;
    color: white !important;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px !important;
    letter-spacing: normal !important;
}

.main-button-secondary {
    background-color: var(--ternary-color);
    border-radius: 0.5rem;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        top: var(--mouse-y);
        left: var(--mouse-x);
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.3);
        border-radius: 100%;
    }
    //&:focus,
    &:hover {
        background: darken(#DDD,7%);
    }
    &:active {
        &:after {
            width: 300px;
            height: 300px;
        }
    }
    &:disabled {
        border: 1px solid rgba(118, 118, 118, 0.3) !important;
        color: rgba(118, 118, 118, 0.3);
    }
}

.button-outlined {
    background-color: transparent;
    border-radius: 0.5rem;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
}

.button-outlined:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.other-button {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.mdc-notched-outline {
    color: #ccc;
}

.mat-mdc-form-field-error-wrapper {
    color: #ea2a2a;
    padding: 0 !important;
}

::placeholder {
    color: #ccc;
}

//dialog styling
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 16px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 1rem;
}
//dialog styling

.card {
    box-shadow: 3px 2px 2px #f2f2f2;
}

.text-title-16 {
    font-size: 16px;
    font-weight: 600;
}

.text-14 {
    font-size: 14px;
}

//social media icons
app-svg-icon {
    height: 24px !important;
    width: 24px !important;
    margin-right: 5px;
    display: list-item;
}

app-svg-icon.youtube {
    background-color: #ea2a2a;
}

app-svg-icon.instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

app-svg-icon.twitter {
    background-color: #1d9bf0;
}

app-svg-icon.tiktok {
    background-color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

app-svg-icon.twitch {
    background-color: #6441a5;
}
//social media icons

//other-icons
app-svg-icon.verified {
    background-image: url(assets/icons/verified.svg);
    display: inline-block;
    mask-size: auto;
    mask-position:inherit;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    -webkit-mask-position: inherit;
    -webkit-mask-repeat: no-repeat;
    vertical-align: middle;
}

.spinner-container {
    display: flex;
    height: 100vh !important;
    margin-top: -3rem;
}

.cdk-overlay-pane {
    max-width: 90vw !important;
}

.line-break {
    white-space: break-spaces;
}