<div class="container">
    <h1 class="font-weight-bold">{{ 'landing.private_policy.title_1' | translate }}<span class="gradient-color-1">{{ 'landing.private_policy.title_2' | translate }}</span></h1>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_1' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_2' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_3' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_4' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_5' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_6' | translate }}</span>
    </div>
    <div class="d-block mb-3">
        <div><span class="paragraph">{{ 'landing.private_policy.paragraph_7' | translate }}</span></div>
        <div><span class="paragraph">{{ 'landing.private_policy.paragraph_8' | translate }}</span></div>
        <div><span class="paragraph">{{ 'landing.private_policy.paragraph_9' | translate }}</span></div>
        <div><span class="paragraph">{{ 'landing.private_policy.paragraph_10' | translate }}</span></div>
        <div><span class="paragraph">{{ 'landing.private_policy.paragraph_11' | translate }}</span></div>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_12_a' | translate }}</span>
        <a href='https://developers.google.com/terms/api-services-user-data-policy' target='_blank'>{{ 'landing.private_policy.paragraph_12_b' | translate }}</a>
        <span class="paragraph">{{ 'landing.private_policy.paragraph_12_c' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_13' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_14' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_15' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_16' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_17' | translate }}</span>
    </div>
    <div class="mb-3">
        <span class="paragraph">{{ 'landing.private_policy.paragraph_18' | translate }}</span>
    </div>
</div>
