
<button *ngIf="showComponent" mat-icon-button [matMenuTriggerFor]="menu" aria-label="User's options menu" 
class="icon-container" (menuOpened)="isMenuOpened = true" (menuClosed)="isMenuOpened = false">
    <i class="icon" [ngClass]="{ 'material-icons-outlined': !isMenuOpened, 'material-icons-round': isMenuOpened }">account_circle</i>
</button>
<mat-menu #menu="matMenu">
    <button *ngIf="showComponent == 'FULL'" mat-menu-item (click)="goToProfile()">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <span>{{ 'core.user_options.account_info' | translate }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        <span>{{ 'core.user_options.logout' | translate }}</span>
    </button>
</mat-menu>