.select-icons {
    width: 100px;
}

.select-url {
    width: 57%;
}

@media (max-width: 768px) {
    .row-box {
        display: block !important;
    }

    .select-icons {
        width: 100%;
    }
    
    .select-url {
        width: 100%;
    }

    .main-button {
        width: 100% !important;
    }

    mat-chip-listbox {
        margin-top: 20px;
    }
}